/**************************
     UNIVERSAL STYLES
***************************/
h1{font-size: 40px; text-align: center;}

h3{font-size: 1.5em;}

p{ font-size: 20px; font-family: 'Quicksand', sans-serif;}

h1, h3{ font-family: 'Kalam', cursive;}

/***************************
         MOBILE STYLES
*****************************/
#menu-items{
    display:flex;
    justify-content: center;
}

.chicken h3{
    background-color: yellow;
    width:85px;
    height:35px;
}

.beef h3{
    background-color: brown;
    width:60px;
    height:35px;
}
.veggie h3{
    background-color: green;
    width:70px;
    height:35px;
}

.veggie, .chicken, .beef{
    background-color:whitesmoke;
    border: 3px solid brown;
    margin-bottom: 10px;  
}

p{margin-left:10px;}


/**************************
     TABLET STYLES
************************/
@media(min-width:768px){
    .chicken h3{
        background-color: yellow;
        width:85px;
        height:35px;
        margin:0;
        float:right;
    }
    .beef h3{
        background-color: brown;
        width:60px;
        height:35px;
        margin:0;
        float:right;
    }

    .veggie h3{
        background-color: green;
        width:70px;
        height:35px;
        margin:0;
        float:right;
    }

    .beef, .chicken, .veggie{
        background-color:whitesmoke;
        width:300px;
        height:300px;
        float: left;
    }
    .chicken{
        margin-left: 50px;
        margin-bottom: 10px;
    }
    .beef{margin-left: 30px;}

    .veggie{
        width: 700px;
        height: 130px;
        margin-left: 15px;
    }
    p{ margin-left: 15px;}
}

/********************
    DESKTOP STYLES
********************/
@media (min-width:992px){
    .veggie{width:300px;  height:300px; }
}